<div id="<%= dom_id comment %>">
  <p>
    <strong>Author:</strong>
    <%= comment.author_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= comment.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= comment.updated_at %>
  </p>

</div>
