<div id="<%= dom_id like %>">
  <p>
    <strong>Author:</strong>
    <%= like.author_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= like.post_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= like.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= like.updated_at %>
  </p>

</div>
