<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= user.photo %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= user.updated_at %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= user.created_at %>
  </p>

  <p>
    <strong>Postcounter:</strong>
    <%= user.postCounter %>
  </p>

</div>
