<div class="user-show-post">
  <%= render partial: "user_info", locals: {user: @user} %>
  <div class="bio-post">
    <div class="border bio">
      <h3>Bio</h3>
      <p class="bio-text">
        <%= @user.bio %>
      </p>
    </div>
    <%= link_to "create a post", new_user_post_path(@user)%>
    <div class="user-posts">
      <% @user.recent_posts.each do |post| %>
        <%= link_to user_post_path(@user.id, post.id) do %>
          <%= render partial: "user_post", locals: {post: post} %>
        <% end %>
      <% end %>
    </div>
  <div>

  <div class="all-posts">
      <%= link_to user_posts_path(@user.id) do %>
        <p class="see-all-posts">See all posts</p>
      <% end %>
  </div>
</div>