<div id="<%= dom_id post %>">
  <p>
    <strong>Author:</strong>
    <%= post.author_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= post.text %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= post.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= post.updated_at %>
  </p>

  <p>
    <strong>Commentcounter:</strong>
    <%= post.commentCounter %>
  </p>

  <p>
    <strong>Likescounter:</strong>
    <%= post.likesCounter %>
  </p>

</div>
