<div class="post-container">
  <div class="post-details border">
    <div class="post-header">
      <h3>
        Post #<%= @post.title %> by <%= @user.name %>
      </h3>
      <%= button_to 'Like Post', user_post_likes_path(@user, @post), method: :post, class: 'like_post_btn'%>
      <%= button_to 'Delete Post', user_post_path(@user, @post), method: :delete, class: 'like_post_btn'%>
      <p>
        Comments: <%= @post.comments_counter %> , Likes: <%= @post.likes_counter %>
      </p>
    </div>
    <p>
      <%= @post.text %>
    </p>
  </div>

  <div class="post-comments border">
    <% @post.comments.each do |comment| %>
      <p><%= comment.author.name %>: <%= comment.text %></p>
    <% end %>
  </div>
</div>
<%= render 'comments/form' %>